<!DOCTYPE html>
<html ng-app="demo">
   <head>
      <title></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
      <script src="service.js"></script>
   </head>
   <body>
      <div ng-controller="Hello" ng-init="init()">
         <div class="container">
            <br>
            <strong>Note: Please use save button to successfully create a new document. Also, please use the update button to update the existing document. Thank you and sorry for the inconvenience caused.</strong>
            <h3>Document Details</h3>
            <div class="form-group">
               <label for="name">
                  <h4>Name</h4>
               </label>
               <input type="text" ng-init="name=document.name" ng-model="name" value= "document.name" class="form-control" id="name" onfocus="this.value=''" placeholder="Enter Name" style="width: 500px">
            </div>
            <div class="form-group">
               <label for="description">
                  <h4>Description</h4>
               </label>
               <input type="text" ng-init="description=document.description" ng-model="description" value= "document.description" class="form-control" id="description" onfocus="this.value=''" placeholder="Enter Description" style="width: 500px">
            </div>
            <div class="form-group">
               <label for="imgs">
                  <h4>Image URL</h4>
               </label>
               <input type="text" ng-init="imgs=document.imgs[0].url" ng-model ="imgs" value="document.imgs[0].url" class="form-control" id="imgs" onfocus="this.value=''" placeholder="Enter URL" style="width: 500px">
            </div>
            <button type="button" class="btn btn-primary" ng-click="createDoc(name, description, imgs)">Save</button>
            <button type="button" class="btn btn-success" ng-click="updateDoc(document._id, name, description, imgs)">Update</button><br>
            <strong>{{successMessage}}</strong><br>
            <a href="mainpage.html">Back</a>
         </div>
      </div>
   </body>
</html>